{% extends '../base.html' %}

{% block title %} Фильм {% endblock %}

{% block content %}
    <div class="movie-detail">
        <div class="container">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ movie.poster }}" width="100%" alt="">
                        </div>
                        <div class="col-md-8">
                            <h1>{{ movie.movieName }}</h1>
                            <h3>{{ movie.genre.genreName }}</h3>
                            <p>Year: {{ movie.year }} | Country: {{ movie.country }} | Proudcer: {{ movie.producer }}</p>
                            <p>Description: {{ movie.description }}</p>
                            <a href="#watch" class="btn btn-danger">Watch</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="watch">
                <div class="card-body">
                    <iframe width="100%" height="600" src="{{ movie.movieLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
{% endblock %}